.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
  background-color: rgba($color-white, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    padding: 4rem;
    padding-left: 7rem;
    width: 100%;
  }
  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(
      50% at 50% 50%
    ); /*  it make outside text lie as Crescent on circle as shown in this example */
    clip-path: circle(
      50% at 50% 50%
    ); /* this make the element as circle,  clip-path: circle(diameter, position x, position y) */
    transform: translateX(-3rem) skewX(13deg);

    @include respond(phone) {
      transform: translateX(-2rem) skewX(0deg);
    }
  }
  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0deg);
    }
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__image {
    transform: translateX(-4rem) scale(1);

    /* it make an blur on image and you can adjust this blur and adjust btightness of it
        there is many filter you can use */
    filter: blur(0.3rem) brightness(80%);
  }
}
